# API密钥配置
settings.json

#//////////////////////////
# Cocos Creator
#//////////////////////////
*.meta
89_game/AllCooper/.creator/
89_game/AllCooper/library/
89_game/AllCooper/temp/
89_game/AllCooper/profiles/
89_game/AllCooper/settings/
89_game/AllCooper/build/
89_game/AllCooper/native/
