<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>wei_attack_down_0005</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{192,192}</string>
<key>spriteSourceSize</key>
<string>{192,192}</string>
<key>textureRect</key>
<string>{{0,0},{192,192}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>wei_attack_down_0006</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{192,192}</string>
<key>spriteSourceSize</key>
<string>{192,192}</string>
<key>textureRect</key>
<string>{{193,0},{192,192}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>wei_attack_down_0007</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{192,192}</string>
<key>spriteSourceSize</key>
<string>{192,192}</string>
<key>textureRect</key>
<string>{{386,0},{192,192}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>wei_attack_down_0008</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{192,192}</string>
<key>spriteSourceSize</key>
<string>{192,192}</string>
<key>textureRect</key>
<string>{{579,0},{192,192}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>wei_attack_down_0001</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{192,192}</string>
<key>spriteSourceSize</key>
<string>{192,192}</string>
<key>textureRect</key>
<string>{{772,0},{192,192}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>wei_attack_down_0004</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{192,192}</string>
<key>spriteSourceSize</key>
<string>{192,192}</string>
<key>textureRect</key>
<string>{{0,193},{192,192}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>wei_attack_down_0003</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{192,192}</string>
<key>spriteSourceSize</key>
<string>{192,192}</string>
<key>textureRect</key>
<string>{{193,193},{192,192}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>wei_attack_down_0002</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{192,192}</string>
<key>spriteSourceSize</key>
<string>{192,192}</string>
<key>textureRect</key>
<string>{{386,193},{192,192}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>wei_walk_up_0001</key>
<dict>
<key>spriteOffset</key>
<string>{-3,-3}</string>
<key>spriteSize</key>
<string>{186,186}</string>
<key>spriteSourceSize</key>
<string>{192,192}</string>
<key>textureRect</key>
<string>{{579,193},{186,186}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>wei_walk_up_0004</key>
<dict>
<key>spriteOffset</key>
<string>{-3,-3}</string>
<key>spriteSize</key>
<string>{186,186}</string>
<key>spriteSourceSize</key>
<string>{192,192}</string>
<key>textureRect</key>
<string>{{766,193},{186,186}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>wei_walk_up_0007</key>
<dict>
<key>spriteOffset</key>
<string>{-3,-3}</string>
<key>spriteSize</key>
<string>{186,185}</string>
<key>spriteSourceSize</key>
<string>{192,192}</string>
<key>textureRect</key>
<string>{{579,380},{186,185}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>wei_walk_down_0008</key>
<dict>
<key>spriteOffset</key>
<string>{-1,-2}</string>
<key>spriteSize</key>
<string>{182,188}</string>
<key>spriteSourceSize</key>
<string>{192,192}</string>
<key>textureRect</key>
<string>{{766,380},{182,188}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>wei_walk_up_0003</key>
<dict>
<key>spriteOffset</key>
<string>{4,-4}</string>
<key>spriteSize</key>
<string>{185,183}</string>
<key>spriteSourceSize</key>
<string>{192,192}</string>
<key>textureRect</key>
<string>{{0,386},{185,183}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>wei_walk_up_0006</key>
<dict>
<key>spriteOffset</key>
<string>{3,-3}</string>
<key>spriteSize</key>
<string>{183,185}</string>
<key>spriteSourceSize</key>
<string>{192,192}</string>
<key>textureRect</key>
<string>{{186,386},{183,185}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>wei_walk_up_0005</key>
<dict>
<key>spriteOffset</key>
<string>{-1,-6}</string>
<key>spriteSize</key>
<string>{189,179}</string>
<key>spriteSourceSize</key>
<string>{192,192}</string>
<key>textureRect</key>
<string>{{372,386},{189,179}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>wei_walk_up_0008</key>
<dict>
<key>spriteOffset</key>
<string>{-1,-6}</string>
<key>spriteSize</key>
<string>{189,179}</string>
<key>spriteSourceSize</key>
<string>{192,192}</string>
<key>textureRect</key>
<string>{{766,563},{189,179}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>wei_walk_up_0002</key>
<dict>
<key>spriteOffset</key>
<string>{-2,-6}</string>
<key>spriteSize</key>
<string>{188,179}</string>
<key>spriteSourceSize</key>
<string>{192,192}</string>
<key>textureRect</key>
<string>{{372,566},{188,179}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>wei_walk_down_0005</key>
<dict>
<key>spriteOffset</key>
<string>{0,-3}</string>
<key>spriteSize</key>
<string>{181,185}</string>
<key>spriteSourceSize</key>
<string>{192,192}</string>
<key>textureRect</key>
<string>{{561,566},{181,185}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>wei_walk_down_0007</key>
<dict>
<key>spriteOffset</key>
<string>{2,-2}</string>
<key>spriteSize</key>
<string>{177,188}</string>
<key>spriteSourceSize</key>
<string>{192,192}</string>
<key>textureRect</key>
<string>{{0,570},{177,188}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>wei_walk_down_0003</key>
<dict>
<key>spriteOffset</key>
<string>{0,-4}</string>
<key>spriteSize</key>
<string>{181,183}</string>
<key>spriteSourceSize</key>
<string>{192,192}</string>
<key>textureRect</key>
<string>{{189,570},{181,183}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>wei_walk_down_0001</key>
<dict>
<key>spriteOffset</key>
<string>{1,-3}</string>
<key>spriteSize</key>
<string>{179,185}</string>
<key>spriteSourceSize</key>
<string>{192,192}</string>
<key>textureRect</key>
<string>{{747,743},{179,185}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>wei_walk_down_0006</key>
<dict>
<key>spriteOffset</key>
<string>{1,-2}</string>
<key>spriteSize</key>
<string>{176,187}</string>
<key>spriteSourceSize</key>
<string>{192,192}</string>
<key>textureRect</key>
<string>{{371,746},{176,187}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>wei_walk_down_0002</key>
<dict>
<key>spriteOffset</key>
<string>{0,-4}</string>
<key>spriteSize</key>
<string>{178,183}</string>
<key>spriteSourceSize</key>
<string>{192,192}</string>
<key>textureRect</key>
<string>{{559,748},{178,183}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>wei_walk_down_0004</key>
<dict>
<key>spriteOffset</key>
<string>{2,-4}</string>
<key>spriteSize</key>
<string>{177,184}</string>
<key>spriteSourceSize</key>
<string>{192,192}</string>
<key>textureRect</key>
<string>{{0,748},{177,184}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>pixelFormat</key>
<string>RGBA8888</string>
<key>premultiplyAlpha</key>
<false/>
<key>realTextureFileName</key>
<string>texture.png</string>
<key>textureFileName</key>
<string>texture.png</string>
<key>size</key>
<string>{964,926}</string>
</dict>
</dict>
</plist>
